zig-cache/
.zig-cache/
zig-out/
generated/*.sqlite
generated/*.sqlite3
generated/*.db
generated/**/*.sqlite
generated/**/*.sqlite3
generated/**/*.db
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.elf
*.bin
*.img
*.iso
*.qcow2
*.raw
*.core
*.dmp
*.profraw
*.profdata


__pycache__/
*.py[cod]

.venv/
